:root {
    --deg: 0deg;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    background-image: linear-gradient(var(--deg), #463b83 , #5772b1 , #3dc3ee );
    border-radius: 10px;
}



h3 {
    font-size: 4vw;
    background-color: black;
    border-radius: 10px;


    width: 80%;

    padding-left: 5%;
    padding-right: 5%;

    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
}
  

p {
    font-size: 2vw;
    background-color: black;
    border-radius: 10px;


    margin-left: 5%;
    margin-right: 5%;

    padding-left: 5%;
    padding-right: 5%;

    margin-top: 0;
    margin-bottom: 2%;
}
  
